<div class="add-exercise-widget">
	<a href="#" class="open-widget-button">Add Exercise</a>
	<div class="exercise-picker" style="display:none;">
		<div class="control-bar">
			<div class="left-tab">
				<a class="min-widget" href="javascript: void(0);">
					Close
				</a>
			</div>
			<!-- groups -->
			<div class="control-bar-headers">
				<div class="control-bar-group browse-exercises-control-header current">
					<span class="browse-muscle-groups-header">Browsing Exercises</span>
					<span class="selected-muscle-group-header" style="display:none;">
						<a href="javascript:void(0);" class="back-to-browse-muscle-group-button"><</a>
						<span class="muscle-group-name"></span>
					</span>
				</div>
				<div class="control-bar-group search-exercises-control-header">
					<%= text_field_tag :term, nil, {:autocomplete => "off", :placeholder => "Search", :class => "autocomplete", "data-autocomplete-url" => exercises_path()} %>
				</div>
			</div>
			<!-- end groups -->
			<!-- view options -->
			<div class="control-view-buttons">
				<a class="browse-exercises-button control-bar-button current" data-tab-name="browse-exercises" href="javascript: void(0);">MG</a>
				<a class="search-exercises-button control-bar-button" data-tab-name="search-exercises" href="javascript: void(0);">Search</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="exercise-picker-frame">
			<div class="browse-exercises-panel exercise-picker-panel current">
				<ul class="muscle-groups widget-list">
					<% MuscleGroup.all.each do |mg| %>
						<li><%= link_to content_tag(:span, mg.name, :class => "muscle-group-name"), {:controller => 'exercises', :action => 'index', :muscle_group => mg.id }, :class => mg.name.downcase %></li>
					<% end %>
					<li></li>
				</ul>
				<ul class="muscle-group-exercises widget-list">
				</ul>
			</div>
			<div class="search-exercises-panel exercise-picker-panel ">
				<ul class="search-exercises-results-list widget-list"></ul>
			</div>
		</div>
	</div>
</div>