<div class="add-exercise-widget">
  <a href="#" class="open-widget-button">Add Exercise</a>
  <div class="exercise-picker" style="display:none;">
    <div class="left-tab">
      <a class="min-widget" href="javascript: void(0);">
        Close
      </a>
    </div>
    <div class="control-bar">
      
      <!-- groups -->
      <div class="control-headers">
        <div class="control-header browse-exercises-control-header current">
          <span>Select a Muscle Group</span>
        </div>
        <div class="control-header selected-muscle-group-control-header">
          <span class="muscle-group-name"></span> Exercises
          <a href="javascript:void(0);" class="back-to-browse-muscle-group-button clear">&lt;</a>
        </div>
        <div class="control-header search-exercises-control-header">
          <%= text_field_tag :term, nil, {:autocomplete => "off", :placeholder => "Search", :class => "autocomplete search-field", "data-autocomplete-url" => ajax_search_exercises_path() } %>
        </div>
      </div>
      <!-- end groups -->
      <!-- view options -->
      <div class="control-view-buttons">
        <a class="browse-exercises-button control-bar-button current" data-tab-name="browse-exercises" href="javascript: void(0);">MG</a>
        <a class="search-exercises-button control-bar-button" data-tab-name="search-exercises" href="javascript: void(0);">Search</a>
      </div>
    </div>
    <div class="exercise-picker-frame">
      <div class="browse-exercises-panel exercise-picker-panel current">
        <ul class="muscle-groups widget-list">
          <% MuscleGroup.all.each do |mg| %>
            <li><%= link_to content_tag(:span, mg.name, :class => "muscle-group-name"), { :controller => :muscle_groups, :action => :ajax_exercises, :id => mg.id }, :class => "muscle-group-hover-border " + mg.name.downcase %></li>
          <% end %>
          <li></li>
        </ul>
      </div>
      <div class="selected-muscle-group-panel exercise-picker-panel">
        <ul class="muscle-group-exercises widget-list">
        </ul>
      </div>
      <div class="search-exercises-panel exercise-picker-panel ">
        <ul class="search-exercises-results-list widget-list"></ul>
      </div>
    </div>
  </div>
</div>