<li class="fields">
	<span class="right">
		<span class="border-field">
			<span><%= f.text_field :magnitude, { :size => 3, :autocomplete => "off" } %></span>
			<span class="magnitude-label">x</span>
		</span>
		<span class="border-field">
			<span><%= f.text_field :weight, { :size => 3, :autocomplete => "off" } %></span>
			<span class="weight-label">lbs</span>
		</span>
	</span>
	<span class="exercise-name"><%= f.object.exercise.name if f.object.exercise %></span>
	<div class="left-tab">
		<a class="remove-workout-set" href="javascript: void(0);"></a>
		<%= f.hidden_field :_destroy %>
	</div>
</li>