<div class="border-header">
	<h1>Today</h1>
</div>
<ul class="workouts std-list">
	<% if @today_workouts.length > 0 %>
		<%= render :partial => "workout", :collection => @upcoming_workouts %>
	<% else %>
		<p>You have no upcoming workouts.  Get to work!</p>
	<% end %>
</ul>

<div class="border-header">
	<h1>Upcoming</h1>
</div>
<ul class="workouts std-list">
	<% if @upcoming_workouts.length > 0 %>
		<%= render :partial => "workout", :collection => @upcoming_workouts %>
	<% else %>
		<p>You have no upcoming workouts.  Get to work!</p>
	<% end %>
</ul>


<div class="border-header">
	<h1>Logs</h1>
</div>
<ul class="workouts std-list">
	<%= render :partial => "workout", :collection => @past_workouts %>
</ul>
<br />

<%= link_to 'New Workout', new_workout_path %>
