
<div class="border-header">
  <span class="right">
    <%= link_to 'Record a Workout', new_workout_path, :class => "new-workout-button" %>
  </span>
  <h1>Workouts</h1>
</div>
<% if @workouts.length > 0 %>
<ul class="workouts std-list">
  <%= render :partial => "workout", :collection => @workouts %>
</ul>
<% else %>
<p>Get workin'!</p>
<% end %>
<br />
