/*---------------------------------------------------------------------------------------*/
/* Typography */
/*---------------------------------------------------------------------------------------*/

@font-face {
  font-family: Sansation;
  src: url(../typefaces/Sansation_Light-webfont.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: Sansation;
  src: url(../typefaces/Sansation_Regular-webfont.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Sansation;
  src: url(../typefaces/Sansation_Bold-webfont.ttf);
  font-weight: bold;
}
@font-face {
	font-family: "Lobster 1.3";
	src: url(../typefaces/Lobster_1.3-webfont.ttf);
}
body {
	font-family: Sansation;	
	font-weight: lighter;
}
input[type=text], input[type=password], input[type=button], input[type=submit] { 
	font-family: Sansation;
	font-weight: lighter;
}
nav {
	font-family: Eurostile;
	font-weight: lighter;
}
.border-header h1 {
	font-weight: bold;
	letter-spacing: -1px;
}
.magnitude-label,
.weight-label {
	font-family: "Lobster 1.3";
}


/*---------------------------------------------------------------------------------------*/
/* Reset and Basic Style */
/*---------------------------------------------------------------------------------------*/
body { 
	background-color: #2c2c2c; 
	color: #fff;
	font-size: 28px;
	overflow-y: scroll;
}

ul { list-style: none; }
a { color: #fff; }

p { 
	margin: 6px 0 40px;
	line-height: 1.8;	
}

input[type=text], input[type=password] { 
	
}

input[type=button], input[type=submit] {
	border-radius: 5px;
	border: 3px solid #ffc600;
	color: #fff;
	padding: 10px 12px 6px;
	background-color: transparent;
	cursor: pointer;
	font-size: 26px;
	float: left;
}

td { padding: 10px; }

.hidden { display: none; }

div.field { margin-bottom: 20px; overflow: hidden;}
div.field label {
	color: #ddd;
	
}

div.field_with_errors { display: inline;}


div.error {
	border: 3px solid #ba3e02;
	border-radius : 5px;
	padding: 10px 12px 6px;
	margin-bottom: 20px;
}

.delete-button {
	display: block;
	border: 3px solid #ba3e02;
	border-radius : 5px;
	padding: 10px 12px 6px;
	float: right;
	text-decoration: none;
}

/*---------------------------------------------------------------------------------------*/
/* Muscle Colors */
/*---------------------------------------------------------------------------------------*/

.muscle-bubble {
	display: block;
	float: left;
	height: 28px;
	margin: 6px 0px 6px 6px;
	padding: 0 10px;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	line-height: 26px;
	opacity: .4;
}

.muscle-bubble .muscle-bubble-inner {
	font-size: 14px;
	text-transform: uppercase;
	display: none;
}
.muscle-bubble:hover .muscle-bubble-inner {
	display: inline;
}

.abdomen { border-color: #6797bd; }
.arm { border-color: #bb186e; }
.back { border-color: #5f3986; }
.hips { border-color: #42783a; }
.chest { border-color: #ce7430; }
.forearm { border-color: #ffc600;}
.leg { border-color: #9eb239; }
.shoulder { border-color: #d44702; }
.thigh { border-color: #49a075; }

.muscle-group-hover-border.abdomen:hover { border-color: #6797bd; }
.muscle-group-hover-border.arm:hover { border-color: #bb186e; }
.back:hover { border-color: #5f3986; }
.muscle-group-hover-border.hips:hover { border-color: #42783a; }
.muscle-group-hover-border.chest:hover { border-color: #ce7430; }
.muscle-group-hover-border.forearm:hover { border-color: #ffc600;}
.muscle-group-hover-border.leg:hover { border-color: #9eb239; }
.muscle-group-hover-border.shoulder:hover { border-color: #d44702; }
.muscle-group-hover-border.thigh:hover { border-color: #49a075; }

.muscle-group-hover-border {
	border-style: solid;
	border-color: transparent;
}

.left {float: left;}
.right {float:right;}
.clearfix { clear: both; }

.wrap {
	width: 640px;
	margin: 0 auto;
}

/*---------------------------------------------------------------------------------------*/
/* Header  */
/*---------------------------------------------------------------------------------------*/
header {
	background-color: #212121;
	text-align: center;
	padding-top: 32px;
	padding-bottom: 24px;
	margin-bottom: 48px;
}

header #usernav {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 15px;
	text-align: right;
	color: #666;
}

header #usernav a {
	color: inherit;
	text-decoration: none;
}

header h1 a{
	display: block;
	width: 260px;
	height: 100px;
	margin: 0 auto;
	background: url(../images/banner.png);
	text-indent: -10000px;
}

nav { 
	margin-top: 24px;
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

nav ul {
	overflow: hidden;
	width: 720px;
	margin: 0 auto;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	width: 240px;
	text-decoration: none; 
}
nav li a:hover {
	text-shadow: 0 0 4px #999;
}

nav li span {
	display: block;
	width: 240px;
	color: #414141;
}

/*---------------------------------------------------------------------------------------*/
/* Content */
/*---------------------------------------------------------------------------------------*/
#content {
	font-size: 26px;
}

#content .border-header {
	border-bottom: 1px solid #666;
	padding: 0 0 3px 6px;
	overflow: hidden;
}

#content .border-header h1 {
	float: left;
	font-size: 34px;
}

#content input {
	!font-size: 26px;
}

/*---------------------------------------------------------------------------------------*/
/* Standard List Styles
/*---------------------------------------------------------------------------------------*/
.std-list {
	margin: 6px 0 40px;
}
.std-list li {
	height: 46px;
	padding: 0 6px;
	line-height: 50px;
	border-radius: 8px;
	border-radius: 8px;
	position: relative;
	color: #ccc;
}
.std-list li:hover {
	background-color: #212121;
	color: #fff;
}
.std-list a {
	color: inherit;
	text-decoration: none;
}
.std-list li .index {
	color: #595959;
	display: block;
	position: absolute;
	left: -10px;
	width: 50px;
	text-align: right;
}
.std-list li:hover .index span {
	visibility: hidden;
}
.std-list li .round-rect { 
	display: block;
	float: left;
	height: 28px;
	margin: 6px 0px 6px 6px;
	padding: 0 10px;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	line-height: 26px;
}
.std-list li .details {
	float: right;
}
.muscles {
	display: block;
	float: left;
}
.std-list li:hover .muscle-bubble {
	opacity: 1;
}
ul.workout_sets li .field-wrap {
	border-color: transparent;
	line-height: 25px;
}
ul.workout_sets li:hover .field-wrap {
	border-color: #3e3e3e;
}
ul.workout_sets li:hover .field-wrap:hover {
	background-color: #3e3e3e;
}
/*---------------------------------------------------------------------------------------*/
/* Workout Index
/*---------------------------------------------------------------------------------------*/
.workouts li {
}
.workouts li a.workout-date{
	text-decoration: none;
}
a.new-workout-button,
a.new-exercise-button {
	display: block;
	border-radius: 3px;
	padding: 6px 12px 3px 43px;
	background: url(../images/add-icon.png) 12px center transparent no-repeat;
	text-decoration: none;
}
a.new-workout-button:hover,
a.new-exercise-button:hover {
	background-color: #212121;
}
.workouts li a.complete-workout{
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	border: 3px solid #424342;
	border-radius: 3px;
	text-indent: -10000px;
	background: url(../images/checkmark-icon.png) transparent no-repeat;
	background-position: 100px 100px;
	position: absolute;
	margin-top: 6px;
	left: -46px;
}
.workouts li a.complete-workout.complete{
	background-position: center center;
	border-color: transparent;
}
.workouts li a.complete-workout:hover{
	background-position: center center;
}
/*---------------------------------------------------------------------------------------*/
/* Workout Set table in workout#_form */
/*---------------------------------------------------------------------------------------*/

ul.workout_sets {
	margin: 10px 0;
}
ul.workout_sets li {
	margin-left: -52px;
	padding-left: 52px;
}

ul.workout_sets li a.remove-workout-set {
	display: block;
	width: 28px;
	height: 28px;
	background: url(../images/remove-icon.png) center center no-repeat;
	text-indent: -10000px;
	border-radius: 3px;
	border: 3px solid transparent;
	margin: 6px 12px 6px 6px;
	visibility: hidden;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
}
ul.workout_sets li:hover a.remove-workout-set {
	visibility: visible;
}
ul.workout_sets li a.remove-workout-set:hover {
	border-color: #353535;
	background-color: #353535;
}
ul.workout_sets li .exercise-name {
	display: block;	
	cursor: move;
}
ul.workout_sets li:hover .exercise-name {	
	color: #fff;
}

ul.workout_sets li input[type=text] {
	border: none; 
	background-color: transparent; 
	outline: none; 
	color: #fff; 
	text-align: right; 
	padding: 0; 
	margin: 0; 
	font-size: 26px;
	line-height: 32px;
}
.magnitude-label,
.weight-label {
	color: #595959;	
	font-size: 23px;
}

/*---------------------------------------------------------------------------------------*/
/* Add Exercise widget in Workout#_form */
/*---------------------------------------------------------------------------------------*/
.add-exercise-widget {
	background-color: #212121;
	border-radius: 8px;
	margin-left: -12px;
	margin-bottom: 20px;
	position: relative;
}
.add-exercise-widget .open-widget-button {
	display: block;
	background: url(../images/add-icon.png) left center no-repeat;
	padding: 10px 0 7px 36px;
	margin-left: 12px;
	text-decoration: none;
}
.add-exercise-widget .exercise-picker {
	padding-bottom: 12px;
}
.add-exercise-widget .control-bar {
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.add-exercise-widget .left-tab {
	position: absolute; 
	left: -40px; 
	top: 12px;
	width: 40px;
	height: 46px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-indent: -10000px;
	background-color: #212121;
}
.add-exercise-widget .left-tab .min-widget {
	display: block;
	width: 28px;
	height: 28px;
	background: url(../images/min-icon.png) center center no-repeat;
	border: 3px solid transparent;
	border-radius: 3px;
	margin: 6px 0 0 6px;
}
.add-exercise-widget .left-tab .min-widget:hover {
	background-color: #353535;
	border-color: #353535;
}
.add-exercise-widget .control-headers {
	width: 554px;
	overflow: hidden;
	float: left;
}
.add-exercise-widget .control-header {
	display: none;
	border-radius: 5px;
	border: 3px solid #2c2c2c;
	line-height: 1.7	;
	
	background-color: #2c2c2c;
	height: 40px;
}
.add-exercise-widget .control-header.current {
	display:block;
}
.add-exercise-widget .control-header span,
.add-exercise-widget .control-header input {
	margin-left: 12px;
}
.add-exercise-widget .control-header .clear {
	background: url(../images/clear-icon.png) no-repeat center center;
	display: block;
	float: right;
	width: 46px;
	height: 46px;
	text-indent: -10000px;
}
.add-exercise-widget .control-view-buttons {
	float: right;
}
.add-exercise-widget .control-bar-button {
	display: block;
	float: left;
	background-image: url(../images/icons.png);
	text-indent: -10000px;
	width: 48px;
	height: 48px;
	opacity: .6;
}
.add-exercise-widget .control-bar-button:hover {
	opacity: 1;
}
.add-exercise-widget .control-bar-button.current {
	display: none;
}
.add-exercise-widget .search-exercises-button {
	background-position: 0 -48px;
}
.add-exercise-widget .search-exercises-control-header input.search-field {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 26px;
}
.add-exercise-widget .exercise-picker-panel {
	display: none;
}
.add-exercise-widget .exercise-picker-panel.current {
	display: block;
}
.add-exercise-widget .widget-list {
	overflow: hidden;
	margin: 0 12px;
}
.add-exercise-widget .widget-list > li > a {
	display: block;
	height: 40px;
	color: #595959;
	border-radius: 8px;
	position: relative;
	text-decoration: none;
	line-height: 1.9;
}
.add-exercise-widget .widget-list > li > a:hover {

	color: #fff;
}
.add-exercise-widget .widget-list.muscle-groups > li {
	width: 32%;
	display: block;
	float: left;
}
.add-exercise-widget .widget-list.muscle-groups > li > a {
	display: block;
	border-width: 3px;
	height: 40px;
}
.add-exercise-widget .widget-list.muscle-groups > li > a:hover {
	color: #fff;
}
.add-exercise-widget .widget-list.muscle-groups > li > a > span.muscle-group-name {
	margin: 0 12px;
}

.add-exercise-widget .muscle-group-exercises li a {
	
}

/*---------------------------------------------------------------------------------------*/
/* Login Page */
/*---------------------------------------------------------------------------------------*/
#login-wrap {
	border-radius: 10px;
	background-color: #212121;
	margin: 30px 90px;
	padding: 30px 30px 10px;
}
#login-wrap input[type=text],
#login-wrap input[type=password] {
	border-radius: 5px;
	color: #fff;
	border: 3px solid #78a2c4;
	background-color: #272727;
	padding: 10px 12px 6px;
	font-size: 26px;
}
#login-wrap input[type=submit] {
	display: block;

}
