body { 
	background-color: #2c2c2c; 
	color: #fff;
	font-family: Sansation;
	font-weight: lighter;
	font-size: 28px;
}

ul { list-style: none; }
a { color: #fff; }

input[type=text] { border: none; background-color: transparent; outline: none; color: #fff; font-family: Sansation; text-align: right; }

td { padding: 10px; }

.hidden { display: none; }

.left {float: left;}
.right {float:right;}
.clearfix { clear: both; }

.wrap {
	width: 640px;
	margin: 0 auto;
}

header {
	background-color: #212121;
	text-align: center;
	padding-top: 32px;
	padding-bottom: 24px;
	margin-bottom: 48px;
}

header #usernav {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 15px;
	text-align: right;
	font-family: Helvetica;
	color: #666;
}

header #usernav a {
	color: inherit;
	text-decoration: none;
}

header h1 {
	width: 260px;
	height: 100px;
	margin: 0 auto 24px;
	background: url(../images/banner.png);
	text-indent: -10000px;
}

nav { 
	text-transform: uppercase;
}

nav ul {
	overflow: hidden;
	width: 720px;
	margin: 0 auto;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	width: 240px;
	font-family: Eurostile;
	font-size: 20px;
	text-decoration: none; 
	letter-spacing: 5px; 
	font-weight: lighter;
}

#content {
	font-size: 26px;
}

#content .border-header {
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	overflow: hidden;
}

#content .border-header h1 {
	float: left;
	font-size: 34px;
	font-weight: normal;
}

#content input {
	font-size: 26px;
}


/* Workout Set table in workout#_form */
ol.workout_sets {
	margin: 10px 0 30px;
	list-style: decimal;
}
ol.workout_sets li {
	
	padding: 12px 20px 10px 4px;
	color: #595959;
	border-radius: 8px;
}
ol.workout_sets li:hover {
	background-color: #212121;

}
.exercise-name {
	color: #fff;	
}
.magnitude-label,
.weight-label {
	font-family: "Lobster 1.3";
	color: #595959;	
}
/* Add Exercise widget in Workout#_form */
.add-exercise-widget {
	background-color: #2c2c2c;
}
.add-exercise-widget .control-bar {
	padding: 10px;
	border-bottom: 1px solid #212121;
	position: relative;
}
.add-exercise-widget .min-widget {
	position: absolute; 
	left: -100px; 
	width: 100px;
}
.add-exercise-widget .control-bar-group {
	display: none;
	float: left;
}
.add-exercise-widget .control-bar-group.current {
	display:block;
}
.add-exercise-widget .control-view-buttons {
	float: right;
}
.add-exercise-widget .control-bar-button {
	display: block;
	float: left;
	background-image: url(../images/icons.png);
	text-indent: -10000px;
	width: 48px;
	height: 48px;
}
.add-exercise-widget .control-bar-button.current {
	display: none;
}
.add-exercise-widget .search-exercises-button {
	background-position: 0 -48px;
}
.add-exercise-widget .control-bar-group .control-bar-group-toggle {
	display: none;
	float: left;
}
.add-exercise-widget .control-bar-group.current .control-bar-group-toggle {
	display: block;
}
.add-exercise-widget .exercise-picker-panel {
	display: none;
}
.add-exercise-widget .exercise-picker-panel.current {
	display: block;
}

.add-exercise-widget .widget-list > li > a {
	display: block;
	text-decoration: none;
	padding: 5px 15px;
}

.add-exercise-widget .widget-list > li > a:hover {
	background-color: #e6c31d;
	color: #333;
}
