<li>
  <a href="javascript: void(0);" class="add-exercise" data-exercise-id="<%= exercise.id %>">
    <%= exercise.name %>
    <span class="right"><%= get_muscle_group_bubbles(exercise.muscle_groups) %></span>
  </a>
</li>