<div class="border-header">
	<h1>Exercises</h1>
	<span class="right">
		<%= link_to "New", new_exercise_path, :class => 'new-exercise-button' %>
	</span>
</div>
<ul class="std-list">
	<%= render @exercises %>
</ul>